*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}

button{
    font-family: 'Poppins' sans-serif;
}

.inputDiv {
    display: flex;
    justify-content: left;
    align-items: center;
}

.input {
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 350px;
    margin: 0.25rem;
    transition: .5s;
    font-size: 1.15rem;
}

.add {
    outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 50px;
    background-color: lime;
    color: white;
    cursor: pointer;
    font-size: 30px;
    transition: .5s;
    margin: 0.25rem;
}

    .add:hover {
        opacity: 0.7;
    }

.container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

.item {
    padding: 0.5rem;
    border-bottom: 4px solid #fff;
    margin-bottom: 1.5rem;
}

.item_input {
    background: none;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1.4rem;
    width: 245px;
}

.edit {
    background: none;
    outline: none;
    border: none;
    color: lime;
    font-size: 1.4rem;
    margin: 0 0.5rem;
    cursor: pointer;
}

.remove {
    background: none;
    outline: none;
    border: none;
    color: #E00;
    font-size: 1.4rem;
    cursor: pointer;
}

header{
    display: flex;
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;
}
.logo-container,.nav-links, .fb{
    display: flex;
}

.logo{
    font-weight: 900;
    margin: 5px;
    font-size: 40px;
}

.logo-container
{
    flex: 1;
}

    .logo-container:hover {
        flex: 1;
        filter: drop-shadow(2px 5px 3px black);
    }


nav {
    flex: 2;
}

.nav-links{
    justify-content: space-around;
    list-style: none;
}

.nav-link{
    color: white;
    font-size: 0px;
    text-decoration: none;
}

.nav-link:hover {
    color: cadetblue;
    font-size: 18px;
    text-decoration: none;
}

.nav-link1{
        color: indianred;
        font-size: 20px;
        text-decoration: none;
}

.fb {
    height: 50px;
    flex: 1;
    justify-content: flex-end;
}

    .fb:hover {
        height: 80px;
        flex: 1;
        justify-content: flex-end;
    }

.presentation{
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}
.presentation1 {
    padding: 0px;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    background-image: url("Img/12345.png");
}

.introduction{
    flex: 1;
}

.intro-text h1{
    font-size: 38px;
    font-weight: 500;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intro-text p{
    margin: 5px;
    font: 22px;
    color: #585772;
}
.cta{
    padding: 50px 0px 0px 0px;
}

.cta-select{
    border: 2px solid #c36cbb;
    background: transparent;
    color: #c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
}
.cover {
    flex: 1;
    display: flex;
    justify-content: center;
}
    .cover img {
        height: 70vh;
        display: flex;
        filter: drop-shadow(2px 5px 3px black);
    }

.launch1 {
    font-size: 38px;
    font-weight: 500;
    text-align: center;
    background: green;
}

.ListTitle {
    font-size: 38px;
    font-weight: 500;
    text-align: left;
    color: lime;
    text-transform: uppercase;
    font-weight: 800;
}

.video {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1024px){
    header{
        flex-direction: column;
    }
    .presentation{
        flex-direction: column;
    }
    .introduction{
        margin-top: 5vh;
        text-align: center;
    }
    .intro-text h1{
        font-size: 30px;
    }
    .intro-text p{
        font-size: 18px;
    }

}